<nz-card [nzCover]="coverTemplate" [style.cursor]="'pointer'" [nzActions]="[actionSetting, actionEdit, actionEllipsis]"
  class="custom-card">
  <nz-card-meta (click)="navigate()" [nzTitle]="prize?.name||null" [nzDescription]="descriptionTemplate"></nz-card-meta>
</nz-card>


<ng-template #descriptionTemplate>
  <div>{{ prize?.description||null}}</div>
  <div class="winner">
    @if (winnersExist()) {
    <div class="wt">
      <nz-icon nzType="gift" nzTheme="outline" />
      <strong class="winner-text">winner: {{ prize?.winners?.[0]?.user?.name }}</strong>
    </div>

    }
  </div>


</ng-template>

<ng-template #coverTemplate class="card-image-container">
  <img src="https://localhost:7156/{{prize?.imagePath}}" loading="lazy" alt=""
    style="width: 100%; height: 200px; object-fit: cover;" />
</ng-template>

<ng-template #actionSetting>
  @if(isAdmin){
  <app-delete-prize [id]="prize?.id" />
  }
</ng-template>


<ng-template #actionEdit>
  @if(isAdmin) {
  <nz-icon nzType="edit" (click)="open(prize)" />
  }
</ng-template>

<ng-template #actionEllipsis>
  @if(!isAdmin && isConnected){

  <app-cart-actions [drawn]="winnersExist()" [prizeId]="prize?.id??null" />

  }
  @else if(isAdmin){
  <app-prize-draw [id]="prize?.id??0" [disabled]="winnersExist()" />
  }
</ng-template>


<nz-modal [(nzVisible)]="showModal" (nzOnCancel)="showModal = false" [nzFooter]="null" nzTitle='Update Prize'>
  <ng-container *nzModalContent>
    @if (showModal) {
    <app-update-prize [prize]="prize" [visible]="showModal" (requestClose)="showModal=false" />

    }
  </ng-container>
</nz-modal>