<div class="prize-details-page">
    <nz-breadcrumb class="auction-breadcrumb">
        <nz-breadcrumb-item>
            <a routerLink="/home">Home</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
            <a routerLink="/prizes">Auction Prizes</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>{{ prize?.name }}</nz-breadcrumb-item>
    </nz-breadcrumb>

    <nz-row [nzGutter]="[48, 32]" class="prize-layout">

        <div nz-col [nzXs]="24" [nzLg]="12">
            <div class="image-card">
                <img src="https://localhost:7156/{{prize?.imagePath}}" alt=""
                    style="width: 100%;  object-fit: cover;" />
            </div>
        </div>


        <div nz-col [nzXs]="24" [nzLg]="12">
            <nz-card class="info-card">
                @if (prize&&prize?.categories;as categories;) {
                @for (category of (prize?.categories??[]); track category.id) {
                <nz-tag nzColor="orange" class="category-tag">
                    {{ category.name }}
                </nz-tag>
                }
                }

                <h1 class="prize-title">{{ prize?.name }}</h1>

                @if (prize?.donor) {
                <div class="donor-highlight">
                    Donated by
                    @if(prize?.donor?.company){
                    <strong>{{ prize?.donor?.company}}</strong>
                    }@else {
                    <strong>{{ prize?.donor?.firstName }} {{ prize?.donor?.lastName }}</strong>
                    }

                </div>
                }

                <nz-divider></nz-divider>

                <p class="description-text">
                    {{ prize?.description }}
                </p>

                <div class="prize-stats">
                    <nz-statistic nzTitle="Number of Winning Tickets" [nzValue]="prize?.qty" />
                    <nz-statistic nzTitle="Tickets Sold" [nzValue]="prize?.numOfTickets" />
                </div>

                <nz-divider></nz-divider>

                <div class="action-box">
                    <app-cart-actions [drawn]="(prize?.winners?.length??0)>0" [prizeId]="prize?.id??null" [viewType]="'one-prize'"/>
                </div>

            </nz-card>
        </div>

    </nz-row>
</div>